<body>
    <p>
    <h1>ROSQUITAS</h1>
    <img src="/public/images/ip6Ezofdu9_320x286.jpg" alt="">
    <h3>Ingredientes:</h3>
    <a>
        <li>5 huevos grandes</li>
        <li>7 cucharadas de azúcar</li>
        <li>1 cucharada de vainilla</li>
        <li> Harina leudante (lo necesario para formar una masa blanda)</li>
        <li>Aceite (el necesario para freír)</li>
        <li>Azúcar glas (si te gusta)</li>
        <br>

    </a>
    <br>
    <h3>Procedimiento:</h3>
    <ul>1.En un bol poner los huevos con el azúcar y la vainilla, mezclar bien e ir incorporando la harina hasta formar una masa blanda que se pega un poco en los dedos.</ul>
    <ul>2.Luego disponer un poco de harina en las manos y con la ayuda de una cuchara tomar una porción de masa y formar las rosquillas, con las manos siempre cubiertas de harina para que no se te peguen.</ul>
    <ul>3.Ponerlas en una bandeja enharinada.Luego freír en aceite no muy caliente.Salen bien sequitas y esponjosas. </ul>
    <ul>4.Luego freír en aceite no muy caliente.</ul>
    <ul>5.Si se desea, una vez que están listas se les pone azúcar glas o común, aunque solas también son riquísimas.</ul>
    <h4>¡A disfrutar!</h4>
    </p>